.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .theme {
    position: absolute;
    right: 50px;
    top: 50px;
  }

  .container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.controls {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 18px;
  margin-top: 32px;
  text-transform: lowercase;
}

.subtitle {
  text-align: center;

  p {
    margin: 0;
    margin-bottom: 4px;
  }
}

.main {
  display: flex;
  align-items: center;
  gap: 50px;

  .boardContainer {
    .header {
      width: var(--d-board-width);
      height: 40px;
      margin-bottom: 24px;
      display: flex;
      align-items: center;

      .controller {
        width: 51px;
        z-index: 1;

        &:disabled {
          opacity: 1;
        }

        &.right {
          text-align: right;
        }
      }

      .score {
        display: block;
        width: calc(2 * var(--d-board-padding) + var(--d-paddle-width));
        text-align: center;
        font-size: 32px;
        flex-shrink: 0;
        flex-grow: 0;

        &.left {
          margin-right: calc(24px - var(--d-board-padding));
        }

        &.right {
          margin-left: calc(24px - var(--d-board-padding));
        }
      }

      .controls {
        flex-grow: 1;
      }
    }
  }

  .intelligence {
    min-width: 300px;

    .controls {
      margin-top: 24px;

      + .controls {
        margin-top: 0;
      }

      .unwatch {
        color: var(--c-gold);

        &:hover {
          border-color: var(--c-gold);
        }
      }
    }

    .subtitle {
      margin-bottom: 24px;
      .motivationScore {
        color: var(--c-gold);
      }
    }

    svg {
      margin: 0 auto 16px;
    }
  }

  .environment {
    .controls {
      margin-top: 24px;
    }
  }
}

.gap16 {
  gap: 16px;
}

.gap32 {
  gap: 32px;
}

.gap50 {
  gap: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.controlLine {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}
