.app {
  min-width: 100vw;
  width: fit-content;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  position: relative;

  .theme {
    position: absolute;
    right: 50px;
    top: 50px;
  }

  .modeControls {
    margin: 32px 0 16px;
    flex-grow: 0;
  }

  .container {
    width: fit-content;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.controls {
  display: flex;
  justify-content: center;

  &.mobile {
    display: none;
  }
}

.title {
  text-align: center;
  font-size: 18px;
  margin-top: 32px;
  text-transform: lowercase;
}

.subtitle {
  text-align: center;

  p {
    margin: 0;
    margin-bottom: 4px;
  }
}

.main {
  display: flex;
  align-items: center;
  gap: 50px;

  .boardContainer {
    position: relative;

    .startBtn {
      font-size: 36px;
      border-color: var(--c-gold);
      color: var(--c-gold);
      width: 200px;
      height: 59px;
      position: absolute;
      top: 245px;
      left: calc(50% - 100px);
      background: var(--c-border);
      z-index: 1;

      &:hover {
        border-color: var(--c-gold);
        color: var(--c-gold);
      }
    }

    .header {
      width: var(--d-board-width);
      height: 40px;
      margin-bottom: 24px;
      display: flex;
      align-items: center;

      .controller {
        width: fit-content;
        z-index: 1;

        &.right {
          text-align-last: right;
          padding-right: 5px;
        }
      }

      .score {
        display: block;
        width: calc(2 * var(--d-board-padding) + var(--d-paddle-width));
        text-align: center;
        font-size: 32px;
        flex-shrink: 0;
        flex-grow: 0;

        &.left {
          margin-right: calc(32px - var(--d-board-padding));
        }

        &.right {
          margin-left: calc(32px - var(--d-board-padding));
        }
      }

      .controls {
        flex-grow: 1;
      }
    }
  }

  .intelligence {
    min-width: 300px;

    .controls {
      margin-top: 24px;

      + .controls {
        margin-top: 0;
      }

      .unwatch {
        color: var(--c-gold);

        &:hover {
          border-color: var(--c-gold);
        }
      }
    }

    .subtitle {
      margin-bottom: 24px;
      .motivationScore {
        color: var(--c-gold);
      }
    }

    svg {
      margin: 0 auto 16px;
    }
  }

  .environment {
    .controls {
      margin-top: 24px;
    }
  }
}

.gap16 {
  gap: 16px;
}

.gap32 {
  gap: 32px;
}

.gap50 {
  gap: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.controlLine {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .header {
    .controls button {
      display: none;
    }
  }

  .controls.mobile {
    margin-top: 24px;
    display: flex;
  }
}

@media (max-width: 600px) {
  .app {
    .modeControls {
      display: flex;
      width: 100%;

      button {
        flex-grow: 1;
      }
    }

    .container {
      flex-grow: 0;
      margin-top: 32px;
    }

    .main {
      flex-direction: column;
      gap: 16px;
    }

    .environment {
      margin-bottom: 32px;
    }
  }
}
