.ball {
  background: var(--c-main);
  position: absolute;
  border-radius: 99px;
  width: var(--d-ball-diameter);
  height: var(--d-ball-diameter);
  margin-left: calc(var(--d-ball-diameter) / -2);
  margin-top: calc(var(--d-ball-diameter) / -2);
  will-change: transform;
}
