.config {
  width: 100%;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  .configItem {
    display: flex;
    align-items: center;
    text-transform: lowercase;
    gap: 50px;
    justify-content: space-between;
    width: 100%;

    input {
      width: 50px;
      text-align: right;
    }
  }
}
