.config {
  width: 100%;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  .configItem {
    display: flex;
    align-items: center;
    text-transform: lowercase;
    justify-content: space-between;
    width: 100%;
    gap: 8px;

    .name {
      margin-right: 20px;
      flex-grow: 1;
    }

    .title,
    input {
      width: 55px;
      text-align: center;
    }

    .title {
      color: var(--c-muted);
      margin-bottom: 2px;
    }
  }
}
