.intelligence {
  display: flex;

  .neuron {
    fill: var(--c-main);
    text-anchor: middle;
    font-size: 12px;
  }

  .title {
    fill: var(--c-muted);
  }

  .signal {
    stroke: var(--c-main);
    stroke-width: 2;
    /* stroke-linecap: round;  */
  }

  .positive {
    fill: var(--c-green);
    stroke: var(--c-green);
  }

  .negative {
    fill: var(--c-red);
    stroke: var(--c-red);
  }
}
