.player {
  position: absolute;
  width: var(--d-paddle-width);
  height: var(--d-paddle-height);
  background: var(--c-main);
  border-radius: 99px;
  will-change: transform;

  &.left {
    margin-left: calc(0px - var(--d-paddle-width));
  }

  &.env {
    height: var(--d-board-height);
  }

  &.keys {
    opacity: 1 !important;
    background: var(--c-main) !important;
  }
}
