:root {
  --c-main: #999;
  --c-muted: #777;
  --c-active: #aaa;
  --c-gold: #dcb439;
  --c-red: #8d5353;
  --c-green: #416c46;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
  color: var(--c-main);
}

* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-family: monospace;
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  color: var(--c-main);
  border-radius: 2px;
  border: 1px transparent solid;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: lowercase;
  transition: border 0.1s ease-in-out;
}

button:hover {
  border: 1px var(--c-main) solid;
}

button:active {
  color: var(--c-active);
  border: 1px var(--c-main) solid;
  box-shadow: #0003 0 5px 10px 0;
}

input {
  width: 100%;
  color: var(--c-main);
  background: transparent;
  border: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--c-main);
}
