.dark {
  --c-main: #999;
  --c-muted: #666;
  --c-border: #393939;
  --c-active: #aaa;
  --c-gold: #dcb439;
  --c-red: #8d5353;
  --c-green: #416c46;
  --c-selection: #444;
  --c-background: #222;
  --o-board-bg-opacity: 0.15;
  --o-board-opacity: 0.1;
}

.light {
  --c-main: #aaa;
  --c-muted: #bbb;
  --c-border: #d6d6d6;
  --c-active: #aaa;
  --c-gold: #ffd72c;
  --c-red: #ffc5c5;
  --c-green: #92cb9c;
  --c-selection: #ddd;
  --c-background: #f8f8f8;
  --o-board-bg-opacity: 0.5;
  --o-board-opacity: 0.1;
}

::selection {
  background: var(--c-selection);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--c-background);
  color: var(--c-main);
}

* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-family: monospace;
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  color: var(--c-main);
  border-radius: 2px;
  border: 1px transparent solid;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: lowercase;
  transition: border 0.1s ease-in-out, color 0.1s ease-in-out;
}

button:hover {
  border: 1px var(--c-main) solid;
}

button:active {
  color: var(--c-active);
  border: 1px var(--c-main) solid;
  box-shadow: #0003 0 5px 10px 0;
}

input {
  width: 100%;
  color: var(--c-main);
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px var(--c-border) solid;
}

select {
  width: 100%;
  color: var(--c-main);
  background: transparent;
  border: none;
  outline: none;

  &:disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
