.board {
  position: relative;
  width: var(--d-board-width);
  height: var(--d-board-height);
  overflow: hidden;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(/src/components/Board/cross.png);
    background-size: 30px;
    background-position: -1px 0;
    background-repeat: repeat;
    opacity: 0.15;
  }
}

.gameSet {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
}

.leader {
  opacity: 1;
  z-index: 1;

  --c-main: #dcb439;
}
